Sample.Communication/Sample.Communication.WCF.ConsoleApplication/Service References/SampleServiceWCF/SampleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sample.Communication.WCF.WCFService.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sample.Communication.WCF.WCFService.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
</xs:schema>