Sample.Communication/Sample.Communication.WCF.ConsoleApplication/Service References/SampleServiceWCF/SampleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SampleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49190/SampleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49190/SampleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49190/SampleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sample.Communication.WCF.WCFService.DAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INormalService_GetMessageFromService_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageFromService" />
  </wsdl:message>
  <wsdl:message name="INormalService_GetMessageFromService_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageFromServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IAdvanceService_GetStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudent" />
  </wsdl:message>
  <wsdl:message name="IAdvanceService_GetStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IAdvanceService_GetStudentByScoreCondition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByScoreCondition" />
  </wsdl:message>
  <wsdl:message name="IAdvanceService_GetStudentByScoreCondition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByScoreConditionResponse" />
  </wsdl:message>
  <wsdl:portType name="INormalService">
    <wsdl:operation name="GetMessageFromService">
      <wsdl:input wsaw:Action="http://tempuri.org/INormalService/GetMessageFromService" message="tns:INormalService_GetMessageFromService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INormalService/GetMessageFromServiceResponse" message="tns:INormalService_GetMessageFromService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAdvanceService">
    <wsdl:operation name="GetStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdvanceService/GetStudent" message="tns:IAdvanceService_GetStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdvanceService/GetStudentResponse" message="tns:IAdvanceService_GetStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentByScoreCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdvanceService/GetStudentByScoreCondition" message="tns:IAdvanceService_GetStudentByScoreCondition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdvanceService/GetStudentByScoreConditionResponse" message="tns:IAdvanceService_GetStudentByScoreCondition_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INormalService" type="tns:INormalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMessageFromService">
      <soap:operation soapAction="http://tempuri.org/INormalService/GetMessageFromService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IAdvanceService" type="tns:IAdvanceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudent">
      <soap:operation soapAction="http://tempuri.org/IAdvanceService/GetStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentByScoreCondition">
      <soap:operation soapAction="http://tempuri.org/IAdvanceService/GetStudentByScoreCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleService">
    <wsdl:port name="BasicHttpBinding_INormalService" binding="tns:BasicHttpBinding_INormalService">
      <soap:address location="http://localhost:49190/SampleService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IAdvanceService" binding="tns:BasicHttpBinding_IAdvanceService">
      <soap:address location="http://localhost:49190/SampleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>